@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');

body{
	font-family: 'Noto Sans', sans-serif;
	color: #888888;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Zilla Slab', serif;
}
.slide-bg-1{
	background-image: url(../img/slide-bg.jpg);
}


.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.header-area a, .search-icon {
    color: #333;
}

.mainmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.header-area {
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    /* margin-top: 13px; */
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.single-slide-item:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .66;
}

.slide-text, .slide-text a {
    color: #fff;
}

.slide-text {
    font-size: 16px;
    padding: 160px 0;
}

.boxed-btn {
    background-color: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}

.slide-text h2 {
    font-size: 60px;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-icon {
    background-color: #22bbc0;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
    line-height: 58px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a, .header-absolute.search-icon {
    color: #fff;
}

.search-icon {
    margin-top: 16px;
    display: inline-block;
}